.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  align-items: center;
}

table {
  width: 50%;
}

button {
  margin-top: 10px;
  margin-left: 25%;
  width: 470px;
}

.center-div {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
